/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;

}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    text-decoration: none;
}

.mobile {
    display: block;
}

.com {
    display: none;
}

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* x-align-middle 클래스는 vertical-align 속성이 블럭요소에서도 정상적으로 동작할 수 있도록 돕습니다.
   우선 수직으로 가운데 정렬하고 싶은 요소의 부모에 x-align-middle 클래스를 삽입하고 정렬이 필요한 요소에
   x-align-block 클래스를 삽입합니다. 작동원리는 블럭요소의 :before 영역을 인라인요소의 :before 영역과
   동일하게 맞추는 방식입니다. - Lier, 2014. 6. 20. 오전 1:03 */

.align-middle {
    display: inline-block;
}

.align-middle:before {
    width: 0;
    height: 100%;
    content: '';
    vertical-align: middle;
    display: inline-block;
    margin-left: -0.25em;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

body {
    background-color: #fefef5;
    font-family: 'Montserrat', Helvetica, sans-serif; 'Gotham Book', Gotham-Book, Arial, sans-serif;
    -webkit-font-smoothing: antialiased !important;
}



header {
    height: 70px;
    overflow: hidden;
    padding-top: 0px;
    text-align: center;
}

header h1 {
    float: left;
    letter-spacing: 4px;
    font-family: 'Oswald', sans-serif;
    margin: 25px 40px;
    font-size: 16px;
}




nav {
    z-index: 999;
    background-color: #fdfdf8;
    position: fixed;
    width: 100%;
    height: 70px;
    right: 0;
    top: 0;
    margin: 0 auto;
    text-align: right;
}

nav .logo {
    margin: 0 auto;
    display: inline-block;
    position: fixed;
}

nav ul {
    text-align: right;
    right: 0;
    width: 422px;
    position: absolute;
    padding: 20px 20px 20px 10px;
}

nav ul li {

    padding: 5px 0 20px 10px;
    display: inline-block;
    font-size: 11px;
    letter-spacing: 5px;
}


nav ul li a {
    font-size: 11px;
    color: #333;
}


nav ul li a:hover {
    font-size: 11px;
    color: #71d9dd;
    transition:color 0.3s ease-out, background 0.3s ease-in;
}






#wrapper {
    width:800px;
    margin:0 auto; /*centers the div horizontally in all browsers (except IE)*/
    background:#fff;
    text-align:left; /*resets text alignment from body tag */
    border:1px solid #ccc;
    border-top:none;
    padding:25px;
    /*Let's add some CSS3 styles, these will degrade gracefully in older browser and IE*/
    border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    box-shadow:0 0 5px #ccc;
    -moz-box-shadow:0 0 5px #ccc;
    -webkit-box-shadow:0 0 5px #ccc;
}


#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(http://lemon2020.cafe24.com/img/overlay.png) repeat;
    text-align:center;
    z-index:999;

}

#lightbox p {
    text-align:right;
    color:#fff;
    margin-right:20px;
    font-size:12px;
}


#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
}







.welcome {
    width: 100%;
    background-color: #fdfdf8;
    margin: 0 auto;
    padding-top: 140px;
    height: 650px;
    text-align: center;

}


.line {
 margin: 10 auto;
 width: 30px;
 height: 1px;
 background-color: #9f9f9f;
}


.welcome h1 {
    font-family: 'Montserrat', sans-serif; font-weight: 700;
    letter-spacing: 0px;
    font-size: 26px;
    color: #666;
    padding-top: 26px;

}

.welcome h2 {
    font-family: 'Montserrat', sans-serif; font-weight: 400;
    letter-spacing: 0.1px;
    font-size: 16px;
    color: #686868;
    padding-top: 0px;
}

.about {
    width: 100%;
    background-image: url('http://lemon2020.cafe24.com/img/back_picture.jpg');
    margin: 0 auto;
    height: 650px;
    text-align: center;
}

.about h1 {
    font-family: 'Montserrat', sans-serif; font-weight: 700;
    letter-spacing: 0px;
    font-size: 1.4em;
    color: #dcdcdc;
    padding-top: 65px;
    padding-bottom: 15px;

}





.about h2 {
    font-family: 'Montserrat', sans-serif; font-weight: 400;
    letter-spacing: 0px;
    font-size: 0.3em;
    color: #adadad;
    padding-bottom: 20px;
}


.about h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0px;
    font-size: 40px;
    color: #ff1257;
    padding-top: 60px;
}


.about.line {
    margin: 300px auto;
    width: 30px;
    height: 1px;
    background-color: #9f9f9f;
}




.about_sns{
  height: 180px;
    margin: 0 auto;
  background-color: #212323;
}



.about_sns ul li {
    display: inline-block;
    text-align: center;
    padding: 60px 60px;
}


.about_sns ul li a.facebook{
    display: block;
    width: 40px;
    height: 39px;
    text-decoration: none;
    text-indent: -9999em;
    background: url("http://lemon2020.cafe24.com/img/facebook.png");
    background-size: 40px 39px;
    transition:color 0.4s ease-out, background 0.4s ease-in;

}

.about_sns ul li a.facebook:hover{
    background: url("http://lemon2020.cafe24.com/img/facebook_hover.png");
    background-size: 40px 39px;
}


.about_sns ul li a.tumblr{
    display: block;
    width: 40px;
    height: 39px;
    text-decoration: none;
    text-indent: -9999em;
    background: url("http://lemon2020.cafe24.com/img/tumblr.png");
    background-size: 40px 39px;
    transition:color 0.3s ease-out, background 0.3s ease-in;

}

.about_sns ul li a.tumblr:hover{
    background: url("http://lemon2020.cafe24.com/img/tumblr_hover.png");
    background-size: 40px 39px;
}


.about_sns ul li a.instagram{
    display: block;
    width: 40px;
    height: 39px;
    text-decoration: none;
    text-indent: -9999em;
    background: url("http://lemon2020.cafe24.com/img/insta.png");
    background-size: 40px 39px;
    transition:color 0.3s ease-out, background 0.3s ease-in;

}

.about_sns ul li a.instagram:hover{
    background: url("http://lemon2020.cafe24.com/img/insta_hover.png");
    background-size: 40px 39px;
}

.about_sns ul li a.behance{
    display: block;
    width: 40px;
    height: 39px;
    text-decoration: none;
    text-indent: -9999em;
    background: url("http://lemon2020.cafe24.com/img/behance.png");
    background-size: 40px 39px;
    transition:color 0.3s ease-out, background 0.3s ease-in;

}

.about_sns ul li a.behance:hover{
    background: url("http://lemon2020.cafe24.com/img/behance_hover.png");
    background-size: 40px 39px;
}


.about_contents {
    margin: 15px auto;
    opacity: 0.8;
    width: 560px;
    padding: 20px;

}


.about_contents span.a {
    letter-spacing: 0px;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    padding-top: 0px;
    font-weight: 800;
}



.about_contents span.b {
    letter-spacing: 0px;
    font-size: 10px;
    line-height: 20px;
    color: #fff;
    padding-top: 0px;
    font-weight: 400;
}



.about_icon {
margin: 0 auto;
}



.about_icon ul li {
    display: inline-block;
    text-align: center;
    padding: 0px 60px;
}

.about_icon p {
    letter-spacing: 0px;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    padding-top: 0px;
    font-weight: 800;
}



.work {
    width: 100%;
    background-color: #fefef5;
    margin: 0 auto;
    height: 750px;
    text-align: center;
}

.work h1 {
     font-family: 'Montserrat', sans-serif; font-weight: 700;
     letter-spacing: 0px;
     font-size: 1.4em;
     color: #848484;
     padding-top: 65px;
     padding-bottom: 15px;
 }


.work h2 {
    font-family: 'Montserrat', sans-serif; font-weight: 400;
    letter-spacing: 0px;
    font-size: 0.3em;
    color: #848484;
    padding-bottom: 20px;
}


.container {
    margin: 0 auto;
    height: 770px;
}

.container_image {
    position: relative;
    display: inline-block;

    width: 340px;
    margin: 12px;
    text-align: center;

}



.container_image h1 {
    font-size: 16px;
    text-align: center;
    padding: 22px 15px 5px 15px;
    color: #474747;
    letter-spacing: 0px;
}

.container_image h2 {
    font-size: 8px;
    text-align: center;
    padding: 2px 15px 18px 15px;
    color: #999;
    letter-spacing: 0px;
}








.pic {
    width: 100%;
    background-color: #f4f4eb;
    margin: 0 auto;
    height: 750px;
    text-align: center;
}

.pic h1 {
    font-family: 'Montserrat', sans-serif; font-weight: 700;
    letter-spacing: 0px;
    font-size: 1.4em;
    color: #848484;
    padding-top: 65px;
    padding-bottom: 15px;
}


.pic h2 {
    font-family: 'Montserrat', sans-serif; font-weight: 400;
    letter-spacing: 0px;
    font-size: 0.3em;
    color: #848484;
    padding-bottom: 20px;
}

.container_02 {
    width:90%;
    background-color:#fff;
    margin: -60px auto 60px auto;
    text-align: center;
}


.container_image_02 {
    margin: 10px;
    width: 33.3%;
    display: inline-block;
    min-width:200px;
    max-width:220px;
    float:none;
    opacity:0.9;
}



.container_image_02 h1 {
    font-size: 18px;
    text-align: left;
    padding: 15px 15px 5px 15px;
    background-color: white;
    color: #999;
    letter-spacing: 0px;
}

.container_image_02 h2 {
    font-size: 8px;
    text-align: left;
    padding: 5px 15px 15px 15px;
    background-color: white;
    color: #999;
    letter-spacing: 0px;
}










.rollover{-webkit-transition:all .25s ease-out;
    -moz-transition:all .25s ease-out;
    -o-transition:all .25s ease-out;
    transition:all .25s ease-out}

.rollover img{-webkit-transition:all .25s linear;
    -moz-transition:all .25s linear;
    -o-transition:all .25s linear;
    transition:all .25s linear;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    transform:translateZ(0);
}

.rollover .bt-url{display:block;position:absolute
;top:20%;left:35%;width:68px;height:68px;
    margin:-21px 0 0 -21px;
    border:1px solid rgba(255,255,255,0.75);
    border-radius:50%;text-indent:-23em;
    overflow:hidden}

.rollover .bt-url:before{content:'\e819';
    display:block;width:58px;height:58px;
    text-align:center;
    font-family:'Oswald';font-size:18px;font-weight:normal;
    font-variant:normal;text-indent:0;text-decoration:inherit;
   color:rgba(255,255,255,0.75);
    -webkit-transition:all .25s ease-out;
    -moz-transition:all .25s ease-out;
    -ms-transition:all .25s ease-out;
    transition:all .25s ease-out}

.rollover .bt-url:hover{border-color:#fff}

.rollover .bt-url:hover:before{color:#fff}



.rollover:hover img{opacity:.5}

.rollover.site .bt-url{visibility:hidden;opacity:0;
    -webkit-transition:all .25s ease-out;
    -moz-transition:all .25s ease-out;
    -o-transition:all .25s ease-out;transition:all .25s ease-out}

.rollover.site:hover .bt-url{visibility:visible;opacity:1}
.list-item li .list-tags{clear:both;height:23px;max-height:75





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    .x-com {
        display: block;

    }

    .x-mobile {
        display: none;
    }

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
